<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Books Recommender{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/styles.css' %}">
</head>
<body>
   <header>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}! to My Book Reads</h1>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'book-add' %}">Add Book</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    {% else %}
        <h1>Welcome to My Book Reads</h1>
        <nav>
            <ul>
                <li><a href="{% url 'book_list' %}">Books</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        </nav>
    {% endif %}
</header>


    <main>
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {{ year|default:2025 }} Books Recommender</p>
    </footer>
</body>
</html>